{% extends 'main.html' %}
{% load static %}
{% block content %}


<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 ftco-animate">

            <div class="row mt- pt-3 d-flex">
                <div class="col-md-12">
                    <div class="cart-detail bg-light p-3 p-md-4">
                        <h3 class="billing-heading mb-4 text-center">Forgot Password</h3>
                        {% include 'includes/alerts.html' %}
                        <form ction="{% url 'forgotpassword' %}" method="post" class="billing-form">
                            {% csrf_token %}	
	          	        <div class="row align-items-end">  
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">Create Password</label>
                                  <input type="password" name="password" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">Confirm Password</label>
                                  <input type="password" name="cpassword" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input class="btn btn-primary  py-3 px-4 text-center" type="submit" value="Submit" >
                        </div>
                        
                        </form>
                    
                </div>
            </div>
        </div> <!-- .col-md-8 -->
      </div>
    </div>
  </section> <!-- .section -->

  

{% endblock %}