{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="hero-wrap hero-bread" style="background-image: url('/static/images/chama8.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'account' %}">Verify Users</a></span> </p>
          <h1 class="mb-0 bread">All Users</h1>
        </div>
      </div>
    </div>
  </div>

<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-12 ftco-animate">
                      
            <div class="row d-flex">
                


                <div class="col-md-12">
                    <div class="col-md-12 d-flex">
                        
                        <div class="col-md-12 ftco-animate">
                            <div class="cart-list">
                                <table class="table">
                                    <thead class="thead-primary">
                                      <tr class="text-center">
                                        <th>Profile</th>
                                        <th>Full Name</th>
                                        <th>Username</th>
                                        <th>Gender</th>
                                        <th>Country</th>
                                        <th>Active</th>
                                        <th>Send Money</th>
                                        <th>Send Message</th>
                                        <th>Activate</th>
                                        <th>Dectivate</th>
                                        <th><a href="{% url 'all_users'  %}">Download <span class="ion-ios-cloud-download"></span></a></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      
                                        {% for user in users %}
                                      <tr class="text-center">
                                        <td class="image-prod"><img src="{{user.profile_picture.url}}" alt="Avatar"  width="90" height="90" style="border-radius:50%"></div></td>
                                        <td class="price">{{user.user.first_name}} {{user.user.last_name}}</td>
                                        <td class="price">{{user.user.username}}</td>
                                        <td class="price">{{user.gender}}</td>
                                        <td class="price">{{user.country}}</td>
                                        <td class="price">{{user.user.is_active}}</td>
                                        <td class="product-remove"><a href="{% url 'sendmoney' user.id %}"><span class="ion-ios-card"></span></a></td>
                                        <td class="product-remove"><a href="{% url 'create-message' user.id %}"><span class="ion-ios-chatbubbles"></span></a></td>
                                        <td class="product-remove"><a href="{% url 'activate_user' user.id %}"><span class="ion-ios-add"></span></a></td>
                                        <td class="product-remove"><a href="{% url 'deactivate_user' user.id %}"><span class="ion-ios-close"></span></a></td>
                                        <td class="price"></td>
                                      </tr><!-- END TR-->
                                      {% endfor %}
                                     
                                    </tbody>
                                  </table>
                              </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> <!-- .col-md-8 -->
      </div>
    </div>
  </section> <!-- .section -->
  

{% endblock %}